"*":
  "arduino-upload":
    arduinoExecutablePath: "/Applications/Arduino.app/Contents/MacOS/Arduino"
  "atom-oss-license":
    name: "eggbit"
  "autocomplete-clang": {}
  "autocomplete-plus":
    minimumWordLength: 1
  core:
    disabledPackages: [
      "wrap-guide"
      "metrics"
      "fonts"
      "github"
      "open-on-github"
      "pigments"
      "nim"
      "emmet"
      "busy-signal"
    ]
    ignoredNames: [
      ".git"
      "*.xcodeproj"
      ".DS_Store"
      "*.dSYM"
      "*.o"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    titleBar: "custom"
  docblockr:
    indentation_spaces: 2
    spacer_between_sections: "after_description"
  editor:
    fontFamily: "ProggyCleanTT"
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "e2c72020-cc24-984e-fdad-783c5792add0"
  "file-icons":
    coloured: false
  fonts:
    fontFamily: "Profont"
    preview: "Hello!"
  hex: {}
  "highlight-column": {}
  "highlight-line":
    underline: "dashed"
  "highlight-selected":
    highlightBackground: true
    ignoreCase: true
  linter: {}
  "linter-clang":
    clangDefaultCFlags: "-std=c11 -Wall -Wextra -Werror -Wno-missing-braces -Wno-unused-parameter -Wno-missing-field-initializers"
    verboseDebug: false
  "linter-gcc": {}
  "linter-ui-default":
    panelHeight: 71.5
    showDecorations: false
    showPanel: true
    showProviderName: true
    useBusySignal: false
  "markdown-preview-plus": {}
  "one-dark-ui":
    fontSize: 11
  pigments:
    delayBeforeScan: 100
    ignoredBufferNames: [
      "*.c"
      "*.h"
    ]
    markerType: "gutter"
  "spell-check": {}
  "todo-show":
    showInTable: [
      "Type"
      "Text"
      "File"
      "Line"
    ]
    sortAscending: false
    sortBy: "Type"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    showInvisibles: false
    softWrap: false
    softWrapAtPreferredLineLength: false
